*.zip
*.rar
*.7z
out.json
/.metadata
external/libuv
cocos2d/cocos/platform/android/libcocos2dx/build
upload-dir/
bundle/make.cmd
bundle/target
database/make.cmd
database/target
/make.cmd
/make.log
metadata/make.cmd
metadata/target
node/
node_modules/
src/main/resources/static/built/

.idea/
.hg/
.hgignore
.research/
.settings/
.kdev4/

logs/
python/tests_data
bin/
obj/
out/
gen/
Debug/
Release/
Windows/
Android/Debug
Android/Release

*~
*.*~
*.kdev4
*.suo
*.sdf
*.pyc
*.opensdf
*.user
*.ipr
*.iws
*.iml
*.so
*.py.bin
.kate*
.project
.kdev_include_paths

local.properties
local2.properties
proguard.local.cfg

sqls_not_version/
target/
bin/
cmake-build-debug/
Resources/
Resources-Main/
jniLibs/
apks/
ipch/
log.txt
*.batch
*.class
*.opensdf
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.suo
*.o
*.swp
*.swo
*.gch
*.log
python/db.sql
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/

nbbuild/
dist/
nbdist/
.nb-gradle/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map
~*.doc*
*.tmp
# System Files
.DS_Store
Thumbs.db
logs/